<% if @posts.size == 0 %>
  <%= render 'empty_page' %>
<% else %>
  <div class="inline-container">
    <h1><%= current_page?(root_path) ? "Home" : @category.name %></h1>
    <%= render 'shared/buttons/create_post'%>
  </div>
  <hr/>
  <section class="post-list">
    <% @posts.each do |post| %>
      <div class="panel panel-default post-cell">
        <div class="post-image">
          <%= render 'shared/placeholder' %>
        </div>
        <div class="post-content">
          <div class="inline-container line-truncate">
            <h2> <%= link_to post.title, post %> </h2>
            <i class="post-stats">
              <%= post.created_at.strftime("%d/%m/%y") %> in <%= Category.find(post.category_id).name %>
            </i>
          </div>
          <div class="line-truncate">
            <p> <%= post.content %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </section>
<% end %>