<% if @posts.size == 0 %>
  <%= render 'shared/empty_page' %>
<% end %>

<% @posts.each do |post| %>
  <div class="panel panel-default post-cell">
    <div class="post-image">
      <%= render 'shared/placeholder' %>
    </div>
    <div class="post-content">
      <div class="inline-container">
        <h1> <%= link_to post.title, post %> </h1>
        <i id="date"> <%= post.created_at.strftime("%d/%m/%y") %> </i>
      </div>
      <p> <%= post.content.truncate(100, omission: '...') %> </p>
    </div>
  </div>
<% end %>