<div class="user-avatar">
  <%= render 'avatar' %>
</div>

<section class="user-stats">
  <div class="inline-container">
    <h1><%= @user.name %></h1>
    <p class="created-at"><i>Since <%= @user.created_at.strftime("%d/%m/%y, %H:%M:%S")  %></i></p>
    <% if user_signed_in? && @user.id == current_user.id %>
      <%= render 'users/buttons/edit' %>
    <% end %>
  </div>
  <p>
    <strong>Last signed in:</strong>
    <%= @user.last_sign_in_at.strftime("%d/%m/%y, %H:%M:%S") if @user.last_sign_in_at %>
  </p>
  <p><strong>Posts:</strong> <%= @user.posts.count %></p>
  <p><strong>Comments:</strong> <%= @user.comments.count %></p>
</section>

<br/>

<section class="user-bio">
  <i> <%= @user.bio || "#{@user.name} does not have a bio" %> </i>
</section>

<hr/>

<% unless @user.posts.empty? %>
  <h3>Posts</h3>
  <section class="post-list">
    <%= render @user.posts.sort.reverse %>
  </section>
<% end %>

<% unless @user.comments.empty? %>
  <hr/>

  <h3>Comments</h3>
  <section class="comment-list">
    <%= render @user.comments.sort.reverse, link_posts: true %>
  </section>
<% end %>